
        * 
        {
margin: 0;
padding: 0;
        }


img
{
    width: 100x;
    height: 100px;
    padding:0px;
    margin-left:100px;
}


body 
{
margin:0;
padding:0;
background-color: rgb(255, 255, 255);
}

nav
{
    margin:0;
    padding:0px;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    width:100%;
    align-items: center;
    background-color: rgb(0, 0, 0);
    gap: 30px;
}

ul
{
display:flex;
flex-direction:row;
list-style:none;
align-items: center;
justify-content: center;
gap: 15px;  
}


li
{
    text-decoration:none;
    color:rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 400;
    cursor:pointer;
}

li:hover
{
    text-decoration:underline;
    color: rgb(0, 247, 0)
}

button
{
    font-family:Outfit, sans-serif;
    font-size:25px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    padding:10px;   
    background-color: orangered;
    margin-right:100px;
    border-radius:20px;
    border:solid 3px;
    cursor:pointer;
}

button:hover
{
    text-decoration:underline;
    color: rgb(81, 255, 1);
}

.outer-page
{
    margin:0px;
    padding: 0px;
    background-color: rgb(252, 252, 252);
    height: 525px;
    padding:10px;
}

.container{
    margin:0px;
    padding: 0px;
    width:100%;
    height: 100%;
    display:flex;
    background: url(images/9.jpg) center center / cover no-repeat;
    background-attachment: fixed;
    gap: 12px;
    justify-content:center;
}

.container img
{
    width: 200px;
    height: 100%;
    margin-right:5px;
    display: flex;
    justify-content: center;
    margin-left:5px;
    border: 2px solid black;
    transition: all ease-in-out 0.1s;
}

.container img:hover
{
    width: 150%;
}

.section-1
{
height: 100vh;
background: url(images/8.jpg) center center / cover no-repeat;
background-attachment: fixed;
justify-content: center;
}

.section-title
{
border: 0px solid green;
background-color: black;
color:white;
display:flex;
justify-content: center;
flex-direction: row;
margin-top: 10px;
padding: 10px 10px;
letter-spacing: 16px;
font-size: xx-large;
}

.section-2
{
background: url(images/9.jpg) center center / cover no-repeat;
background-attachment: fixed;
height: 100vh;
display:flex;
flex-direction:column;
}

.section-title-2
{
border: 0px solid black;
background-color: black;
color:white;
display: flex;
justify-content: center;
padding: 10px 10px;
letter-spacing: 16px;
font-size: xx-large;
}

.container-m
{
 display:flex;
 justify-content: center;
 margin-top: 120px;
 padding-right: 86px;
}

.container-m img
{
    width: 220px;
    height: 100%;
    display: flex;
    border: 5px solid black;
    border-radius: 10px;
    justify-content: center;
    transition: all ease-in-out 0.2s;
}

.container-m img:hover
{
    width: 24%;
}

.section-2-container 
{
    display:flex;
 justify-content: center;
 margin-top: 100px;
 padding-right: 100px;
}

.section-2-container img
{
    width: 200px;
    height: 100%;
    display: flex;
    border: 5px solid black;
    border-radius: 10px;
    justify-content: center;    
    transition: all ease-in-out 0.2s;
}

.section-2-container img:hover
{
    width: 24%;
}

.last 
{
 background-color: black;
 border: 10px solid black;
 color:white;
 display:flex;
 justify-content: center;
 font-size: 30pxl;
}

